body{
    font-family: 'Open Sans Regular';
}

.no-padding{
    padding: 0;
}

.logo-font{
    font-size: 3em;
    font-family: 'Android KG';
    color: black;
}

.telephone{
    font-size: 1.5em;
    font-family: 'Open Sans Regular';
}

.nav-bg{
    background-color: #eff2ef;
}

.bg-gren{
    background-color: #007640;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    background-color: green;
    color: white;
}

.jumbotron-h{
    position: absolute;
    font-family: 'Roboto Slab Regular';
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 5;
}

.jumbotron-p{
    font-size: 18px;
    position: absolute;
    font-family: 'Open Sans Regular';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 5;
}

.advantages-h{
    padding: 0.2em;
    font-size: 1.5em;
    color: white;
    font-family: 'Roboto Slab Regular';
}

.uses-h{
    font-size: 1.5em;
    font-family: 'Roboto Slab Regular';
}

.carousel-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-indicators .active{
    background-color: #007640;
}

.nav-tabs .nav-link {
    border: 0px solid transparent;
}

.card{
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.card:hover{
    border: 1px solid rgba(0, 0, 0, 0.39);
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: #007640;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-product{
    background-color: white;
    border: solid 2px #a50026;
}

.btn-product:hover{
    background-color: #a50026;
    border: solid 2px #a50026;
    color: white;
}

.article-main > h3{
    font-family: 'Roboto Slab Regular';
    text-align: center;
}

.footer-nav-links > li > a{
    color: white;
}

.footer-logo-block{
    color: white;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 0.8em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
    color: #ddd; 
    float: right; 
}

.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } 

.rating > input:checked + label:hover, 
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, 
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 