body{
    font-family: 'Open Sans Regular';
}

.no-padding{
    padding: 0;
}

.logo-font{
    font-size: 3em;
    font-family: 'Android KG';
    color: black;
}

.telephone{
    font-size: 1.5em;
    font-family: 'Open Sans Regular';
}

.nav-bg{
    background-color: #eff2ef;
}

.bg-gren{
    background-color: #007640;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    background-color: green;
    color: white;
}

.jumbotron-h{
    position: absolute;
    font-family: 'Roboto Slab Regular';
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 5;
}

.jumbotron-p{
    font-size: 18px;
    position: absolute;
    font-family: 'Open Sans Regular';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 5;
}

.advantages-h{
    padding: 0.2em;
    font-size: 1.5em;
    color: white;
}

.carousel-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-indicators .active{
    background-color: #007640;
}
